body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  flex-direction: column;
  width: calc(100% - 300px);
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 300px;
  z-index: 1000;
  min-height: 120px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-input {
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
  width: 50%;
  transition: border-color 0.3s;
  max-width: 350px;
}

.search-input:focus {
  border-color: #f47321;
}

.right-container {
  display: flex;
  align-items: center;
}

.mdi-bell-ring {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.user-name {
  font-weight: bold;
  margin-left: 10px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-image: url("Images/dog.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

/* Adjustments for the bottom row */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px; /* Space between top and bottom rows */
}

.greeting-container {
  display: flex;
  align-items: center;
}

.greeting-container .logo-circle {
  width: 50px;
  height: 50px;
  background-image: url("Images/dog.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.greeting-text {
  font-size: 16px;
  font-weight: bold;
}

.button-row {
  display: flex;
}

.header-button {
  background-color: #f47321;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.header-button:hover {
  background-color: #45a049;
}

.sidebar {
  width: 300px;
  background-color: #f47321;
  color: white;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.sidebar-header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar-header .dashboard-icon {
  font-size: 40px;
  margin-right: 10px;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-menu li.large-gap {
  margin-bottom: 70px;
}

.sidebar-menu li i {
  margin-right: 20px;
}

.sidebar-menu li:hover i,
.sidebar-menu li:hover span {
  transform: scale(1.07) translateX(-5px);
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding-left: 320px;
  padding-top: 130px; /* Adjusted to accommodate the fixed top-bar */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .top-bar {
    left: 0;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    position: static;
  }

  .main-content {
    padding-left: 20px;
    padding-top: 20px;
  }
}


.header-btn:hover {
  background-color: #45a049; /* Darker shade for hover effect */
  z-index: 10;
}
